/* Header section*/
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

.banner {
    background-image: url('./images/banner/banner3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    padding-top: 50px;
    padding-bottom: 100px
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    color: white;
    font-size: 50px;
}

.header-right {
    width: 50%;
}

.header-left {
    margin-top: 300px;

}

.header-top p {
    text-align: right;
    color: white;
    font-size: 18px;
    padding: 20px 0px;
}

.btn-primary {
    padding: 15px 20px;
    font-size: 22px;
    font-weight: bold;
    color: #005FAC;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 5px;
}

/* failer Year section */
.failer-head {
    margin: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.failer-image {
    width: 50%;
}

.failer-text {
    width: 50%;
    margin-top: 25px;

}

.failer-text h3 {
    font-weight: 700;
    font-size: 40px;
    color: #151414;

}

.failer-text p {
    font-weight: 400;
    font-size: 16px;
    padding: 20px 0px;
    color: #444343;
}

.failer-text ul li {
    color: #444343;
    padding: 5px 0px;
    margin-left: 0px;
    list-style-type: none;
    font-size: 16px;


}

.failer-text ul li i {
    margin: 5px;
}

/* Plan Styles */
.plans {
    margin: 30px 0px;
}

.plans-title h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;

}

.icone-gruop {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 40px;

}

.icone h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
    padding-top: 8px;
}

.icone p {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    padding: 10px 0px;
}
/* What i do styles */
.what-i-do{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
    background: #1479de;
    border-radius: 10px;
    padding: 130px 0px;
    color: aliceblue;
    font-size: 40px;
    background-image: url(./images/blue\ sky.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
.what-section-title{
    text-align: center;
    margin-bottom: 40px;
    color: #010a13;
    

}
.what-section-discribe{
    color:#000203;
    font-size: 20px;
    text-align: center;
    font: bold;

}
/* overley styles */
.overley {
    margin: 50px 0px;
}

.watch {
    position: relative;

}

.gradient {
    height: 280px;
    width: 100%;
    padding-top: 80px;
    color: white;
    overflow: hidden;
    background: linear-gradient(rgba(13, 74, 217, 0.881), rgba(75, 117, 190, 0.028)), url("./images/watch.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 50px;
    border-radius: 10px;
}

.gradient h3 {
    margin-top: 35px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 20px;

}

.footer {
    margin-top: 20px;
    background-color: #151414;
    padding: 100px;

}

.footer-text {
    color: aliceblue;
}

.footer-text h3{
    font-weight: 700;
    font-size: 45px;
    }
.footer-text p{
    font-weight: 400;
    font-size: 16px;
    padding: 10px 0px;
}
.footer-text span{
    font-weight: 400;
    font-size: 16px;
    display: block;
    padding-top: 5px;
}
.footer-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-footer {
    padding: 15px 20px;
    font-size: 22px;
    font-weight: bold;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 20px;
    background-color: #005FAC;

}

input {
    display: block;
    padding: 10px 20px;
    color: aliceblue;
    background: none;
    border: 2px solid white;
    font-weight: 200;
    font-size: 18px;
    border-radius: 5px;

}

.subscribe h3 {
    color: aliceblue;
    font-weight: 600;
    font-size: 25px;
    padding: 10px 10px;
}

.socail-image img{
    margin: 20px 10px;
}